* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.navbar {
    background-color: #bf380b;
}
#s2 , #s3 {
    border-bottom: 2px solid black;
}
.navbar .navbar-brand {
    font-size: 35px;
    font-family: 'Lalezar', cursive;
}
#navga::after {
    content: "";
    position: absolute;
    top: 0;
    /* width: 100%; */
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.nav-item {
    transition: 0.3s ease;
}
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.btn-spec {
    padding: 7px 15px;
    border-radius: 0 35px 35px 35px;
}
.section {
    height: calc( 100vh - 70px);
    background:linear-gradient(#bf380b ,#ff400090);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.section .id {
    text-align:end;
    margin: 0 60px 0px 0;
    color: whitesmoke;
}
.section .img {
    margin-left: 60px;
}
.section .img img{
    width: 400px;
}
.section .id h1{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 700;
}
.section .id p{
    margin-bottom: 10px;
    font-family: 'Changa', sans-serif;
    font-size: 25px;
    width: 100%;
    font-weight: 700;
}
.section svg path{
    fill: #fff;
}
.section svg {
    position: absolute;
    bottom: 0;
}

@media (max-width:1200px) {
    .section .img {
        margin-left: 30px;
    }
    .section .img img{
        width: 500px;
    }
    .section .id h1{
        font-size: 30px;
    }
        .section .id p{
        font-size: 20px;
    }
    .section .id {
        margin-right: 30px;
    }
}
@media (max-width:1050px) {
    .section .img {
        margin-left: 20px;
    }
    .section .img img{
        width: 450px;
    }
    .section .id h1{
        font-size: 25px;
    }
        .section .id p{
        font-size: 19px;
    }
        .section .id {
        margin-right: 20px;
    }
}
@media (max-width:995px) {
    .section .img {
        display: none;
    }
    .section  {
        justify-content: center;
    }
    .section .id h1{
        font-size: 35px;
    }
        .section .id p{
        font-size: 30px;
        margin-bottom: 15px;
    }
        .section .id {
        margin-left: 15px;
        text-align: center;
    }
}
@media (max-width:700px) {
    .section .id h1{
        font-size: 35px;
    }
        .section .id p{
        font-size: 30px;
        margin-bottom: 15px;
    }
}
@media (max-width:600px) {
    .section .id h1{
        font-size: 35px;
    }
        .section .id p{
        font-size: 20px;
        margin-bottom: 10px;
    }
        .section .id {
        text-align: left;
    }
}
@media (max-width:500px) {
    .section .id {
        padding:  0 10px;
    }
    .section .id h1{
        font-size: 30px;
    }
    .section .id p{
        margin-bottom: 10px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.612);
    }
}
@media (max-width:991.20px) {
    .navbar {
        background-color: #222;
    }
}
@media (max-width:500px) {
    .navbar-brand {
        height: 60px;
    }
}
@media (max-width:400px) {
    .navbar-brand {
        height: 50px;
    }
}







.section2 {
    min-height: 100vh ;
}
.section2 .cards {
    height:calc(100% - 50px);
    display: grid;
    place-items: center ;
    align-items: flex-start; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    padding: 30px 15px;
}
.section2 .card {
    width: 400px;
    min-height: 120px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.section2 .card .poetry p{
    line-height: 30px;
}
.section2 .card .poetry {
    min-height: 200px;
    /* background:url("image/poetry-background.jpg") no-repeat; */
    background-size: cover;
}
@media (max-width:360px) {
    .section2 .cards .card {
        width: 100%;
    }
}
footer {
    min-height: 0vh;
}
footer .row .head-s::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: white;
}
@media (max-width:992px) {
    footer .content .sec * {
        text-align: center;
    }
}
@media (max-width:400px) {
    footer .foot {
        font-size: 12px;
    }
}
.section2 .cards .card .poetry .sm-font{
    font-size: 13px;
}
.section2 .cards .card .poetry .lg-font{
    font-size: 15px;
}
@media (max-width:450px) {
    .section2 .cards .card {
        transform: scale(0.9);
        width: 100%;
    }
    .section2 .cards {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .section2 .cards .card {
        transform: scale(0.9);
    }
    .section2 .cards .card .poetry .sm-font{
        font-size: 13px;
    }
    .section2 .cards .card .poetry .lg-font{
        font-size: 13px;
    }
}
@media (max-width:380px) {
    .section2 .cards .card .head img{
        width: 25px;
    }
}
@media (max-width:350px) {
    .section2 .cards .card {
        transform: scale(0.8);
    }
    .section2 .cards .card .poetry .sm-font{
        font-size: 13px;
    }
    .section2 .cards .card .poetry-name{
        font-size: 13px;
    }
    .section2 .cards .card .poetry .lg-font{
        font-size: 13px;
    }
}
@media (max-width:380px) {
    .title {
        font-size: 35px;
    }
}
@media (max-width:300px) {
    .title {
        font-size: 30px;
    }
}